
/* ヘッダー */
header {
  width: 80%;
  display: flex;
  justify-content: space-between; /* ナビゲーションリンクとタイトルの間隔を最大にする */
  align-items: flex-start; /* ナビゲーションリンクとタイトルをコンテナの上部に揃える */
}

/* ナビゲーションリンク */
nav a {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  position: relative; /* ナビゲーションリンクの位置を相対的に設定 */
  top: -10px; /* ナビゲーションリンクを上に10px移動 */
  left: -10px; /* ナビゲーションリンクを左に10px移動 */
}

/* ボディー */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
  padding: 20px 0; /* 左右のパディングを0に設定 */
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh; /* フッターが一番を設定 */
  justify-content: space-between;
}

header, main {
  padding: 0 20px; /* headerとmainに左右のパディングを追加 */
}

header {
  width: 80%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

nav a {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

h1 {
  font-family: "Georgia", serif;
  font-weight: bold;
  color: #555;
  margin: 0.5em 0;
  text-align: center;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
  width: 80%;
}

.image-container .images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

p {
  margin-bottom: 20px;
}

/* タイトル */
h1 {
  font-family: "Georgia", serif;
  font-weight: bold;
  color: #555;
  margin: 0.5em 0;
  text-align: center;
}

/* 画像コンテナ */
.image-container {
  text-align: center;
  margin-bottom: 20px;
}

/* 画像コンテナ内の画像 */
.image-container .images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  max-height: 400px; /* 画像の最大高さを設定 */
}

/* 本文 */
p {
  margin-bottom: 20px;
}

/* フッター */
footer {
  background-color: #333;
  color: #fff;
  padding: 0.5em; /* パディングを小さく設定 */
  text-align: center;
  font-size: 0.9em;
  width: 100%; 
}
footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #ccc;
}




/* スマートフォン向けスタイル */
@media (max-width: 600px) {
  .image-container .images {
    flex-direction: column;
  }
  
  .image-container img {
    max-height: none;
    margin-bottom: 10px;
  }
}